@model WebApplication1.Models.Supplier

@{
    ViewData["Title"] = "Chi tiết nhà cung cấp";
}

<div class="container-fluid">
    <h1 class="mt-4">@ViewData["Title"]</h1>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-info-circle me-1"></i>
            Thông tin nhà cung cấp
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Phone)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Phone)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Address)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Note)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Note)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedAt)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.IsActive)</dt>
                        <dd class="col-sm-8">
                            @if (Model.IsActive)
                            {
                                <span class="badge bg-success">Hoạt động</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Không hoạt động</span>
                            }
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="form-group mt-3">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                    <i class="fas fa-edit"></i> Chỉnh sửa
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Quay lại
                </a>
            </div>
        </div>
    </div>
</div> 
